* {
    text-decoration: none;
} 

main {
    padding-top: 100PX;
}

header {
    position: fixed;
    top:0;
    right:0;
    left:0;
    background-color: #fff;
    width: 100%;
    height: 100px;
}

header .header-brand {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 27px;
    font-weight: 900;
    color:#111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
}



header nav ul {
    display: block; 
    margin: 0 auto;
    width: fit-content;

}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 16px;
    text-align: center;
    
}

header nav ul li a {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    color:#111;   
}

header .header-projects{
    display: none;
}

@media only screen and (min-width: 1000px) {
    header .header-brand {
        margin: 34px 0;
        text-align: left;
        padding: 0px 20px 0 40px;
        border-right: 3px solid #111;
        float: left;
        line-height: 35px;
    }

    header nav ul {
        margin: 20px 0px;
        float: left;
    }
    
    
    header nav ul li a { 
        line-height: 60px;
    }
    
}

/* Index */

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: center;
}

.index-banner h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 60px;
    line-height: 70px;
    color:#fff;   
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 8px #111;
    
}

.index-banner h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 28px;
    font-style: italic;
    line-height: 40px;
    color:#fff;   
    text-align: center;
    font-weight: 585;
    text-shadow: 4px 4px 8px #111;
    
}

.index-links div {
    margin: 18px 18px 0;
    width: calc(100% - 50px);
    height: 100px;
    background-color: #f2f2f2;
}


.index-links div h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
    line-height: 100px;
    color:#111;   
    text-align: center;
    font-weight: 600;  
}

@media only screen and (min-width: 1000px) {
    .wrapper { 
        width: 1000px;
        margin: 0 auto;
    }
    .index-banner {
        height: 450px;
    }

    .index-banner h1 {
        display: block;
        width: 530px;
        margin: 0 auto;
    }

    .index-box-square {
        width: calc(25% - 20px) !important;

    }

    .index-links div {
        margin: 20px 10px 0;
        height: 220px;
        float: left;
        background-color: #f2f2f2;
    }

    .index-links {
        overflow: hidden;
   
    }
    
    .index-box-rectangle {
        width: calc(75% - 20px)!important;
    }

    .index-links div h3 {
        text-align: center;
    }
    
}

/*Portfolio*/

.projects-links .project-links {
    float: left;
    width: 220px;
    height: 220px;
    margin: 10px 10px 10px 0;
    background-color: #e3e3e3;
    font-family: 'Julius Sans One', sans-serif;

}

/*Footer*/

footer {
    width: calc(100% - 80px);
    margin-top: 20px;
    padding: 30px 30px;
    background-color: #111;
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 35px;
}

footer ul li{
    display: block;
    list-style: none;
}

footer ul li a {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    color: #fff;
    line-height: 40px;
}

.footer-sm {
    width: 50px;
    float: right;
}

.footer-sm img {
    width: 50px;
    margin-bottom: 10px;
}



@media only screen and (min-width: 1000px) {
    footer ul li a {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 25px;
        color: #fff;
        line-height: 40px;
    }

    
}
